# Environment variables
.env

# NKO data (user data)
nko_data.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Build files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test files
*.test

# Output of the go coverage tool
*.out

# GoLand
.idea/

# VS Code
.vscode/
